table .number {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  line-height: inherit;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  //border: 1px solid;
  //border-radius: 5px;
  &--ok {
    background-color: fade(@success-color, 10%);
  }

  &--warning {
    background-color: fade(@warning-color, 10%);
  }

  &--error {
    background-color: fade(@error-color, 10%);
  }
}
.number {
  &--ok {
    color: @success-color;
  }

  &--warning {
    color: @warning-color;
  }

  &--error {
    color: @error-color;
  }
}
.jeecg-basic-table .ant-table .alert {
  background-color: fade(@primary-color, 10%);
  border-color: @primary-color;
}

.jeecg-basic-table .ant-table-thead > tr > th {
  background-color: lighten(@primary-color,25%);
}
.searchForm {
  @apply bg-white px-5 py-3 mb-0;
  form.ant-form.jeecg-basic-form > .ant-row {
    @apply items-center;
  }
  .jeecg-basic-form--compact .ant-form-item {
    @apply mb-0!important;
  }
}
.jeecg-page-wrapper-content > .searchForm {
  @apply mb-0;
}
.jeecg-basic-table-form-container form.ant-form, .searchForm {
  @apply shadow-sm mb-8 rounded-4xl;
}
.jeecg-page-wrapper-content .jeecg-basic-table div.ant-table-wrapper {
  @apply py-5 px-2.5 shadow-sm rounded-3xl;
}
