.custom-tag (@color: @primary-color) {
  background-color: fade(@color, 10%);
  color: @color;
  border-color: @color;
}

.jeecg-basic-table .ant-tag, .ant-tag{
  &.ant-tag-green {
    .custom-tag(@success-color);
  }
  &.ant-tag-volcano {
    .custom-tag(@error-color);
  }
  &.ant-tag-warning {
    .custom-tag(@warning-color);
  }
  &.ant-tag-primary {
    .custom-tag(@primary-color);
  }
  &.ant-tag-duck {
    .custom-tag(@duck-color);
  }
}
